<div class="home-header text-center container-fluid">
  <h1>Welcome to DevMatch!</h1>
  <h3>A membership site where entrepreneurs and developers can meet.</h3>
</div>

<!-- Sign up buttons -->
<div class="container home-sign-up">
  <div class="row">
    
    <% if user_signed_in? %>
    
      <!-- User Profile Options -->
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Your Profile</h2>
          
          <!-- If the user has created a profile -->
          <% if current_user.profile %>
            <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-info btn-lg btn-block' %>
            <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-success btn-lg btn-block' %>
          <% else %>
            <p class="text-center">Create your profile so you can share your information to the community</p>
            <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-success btn-lg btn-block' %>
          <% end %>
          
        </div>
      </div>
      
      <!-- View the Community -->
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">The Community</h2>
          <p class="text-center">Vist the community to meet other developers, investors, and entrepreneurs!</p>
          <%= link_to "Vist the community", users_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    
    <% else %>
      <!-- Basic Membership -->
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <h4 class="text-center">Sign up for free and get basic access to the community.</h4>
          <br>
          
          <!-- Using Query string parameters, we can pass info via URL -->
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      
      <!-- Pro Membership -->
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <h4 class="text-center">Get access to the community and contact info for only $1/month!</h4>
          <br>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    
    <% end %>
    
    
  </div>
</div>
